html {
  height: 100%;
}
body {
	background: url('../images/bg.png') top center repeat-y;
	width: 100%;
	height: 100%;
	margin: 0px;
	background-size: cover;
}

h1 {
	font-family: 'Raleway', sans-serif; font-weight: 100;
	color: white;
	font-size: 3em;
	padding-top: 0.5em;
}

h3 {
	font-family: 'Times Regular', serif;
	font-size: 1em;
	color: #808080;
	font-weight: 200;
	text-align: center;
	vertical-align: middle;
	}

.container {
  min-height: 100%;
  height: auto !important
  height: 100%;
  margin: 0 auto -3em;
	/*position: relative;*/
	text-align: center;
}

#logo {
	text-align: center;
	margin: 0 auto;
	padding-top: 7%;
	width: 29em;
}

.social li {
	display: inline-block;
	margin-right: 2em;
	position: relative;
	cursor: pointer;
}
.social li span {
	position: absolute;
	top: 0;
	left: 0;
	background-position-x: -69px !important;
	opacity: 0;
	display: block;
	width: 69px;
	height: 69px;
	z-index: -1;
	-webkit-transition: opacity 0.3s;
	-moz-transition:    opacity 0.3s;
	-o-transition:      opacity 0.3s;
}
.social li:hover a {
	opacity: 0;
}
.social li:hover span {
	opacity: 1;
}

.social li a {
	width: 69px;
	height: 69px;
	display: block;
	overflow: hidden;
	text-indent: -999em;
}
.social li.fb a, .social li.fb span {
	background: url('../images/facebook.png');
}
.social li.tw a, .social li.tw span {
	background: url('../images/twitter.png');
}
.social li.ig a, .social li.ig span {
	background: url('../images/instagram.png');
}

footer {
  	display:table;
  	background: black;
	clear: both;
	margin: auto;
	height: 3em;
	width: 100%;
	vertical-align: middle;
}
.push {
  height: 3em;
}